@page "/"
<style>
    body {
        background-color: #f4f4f4;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <a href="Pygame"><img src="../images/python-pygame-tutorial.png" alt="" height="250" width="250"></a>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <a href="Turtle"><img src="../images/turtle.jpg" alt="" height="250" width="250"></a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <a href="sqlite"><img src="../images/sqlite.png" alt="" height="250" width="250"></a>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <a href="tkinter"><img src="../images/tk.jpg" alt="" height="250" width="250"></a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <a href="ursina"><img src="../images/Ursina.jpg" alt="" height="250" width="250"></a>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <a href="c"><img src="../images/c.jpg" alt="" height="250" width="250"></a>
            </div>
        </div>
    </div>
</div>