@page "/sqlite"



<div class="container">
  <div class="article">
    
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../images/article_image/sqlite/part-1.png" alt="" height="400" width="500"> ></a>
    
  </div>
</div>

<div class="container">
  <div class="article">
    
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../images/article_image/sqlite/part-2.png" alt="" height="400" width="500">></a>
    
  </div>
</div>

<div class="container">
  <div class="article">
  
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../images/article_image/sqlite/part-2.png" alt="" height="400" width="500">></a>
   
  </div>
</div>

@code {

}
